body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}

.container {
    width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0003;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background: #4CAF50;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #45a049;
}

#listaLivros {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #0003;
}

.itemLivro {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.itemLivro button {
    width: auto;
    margin-left: 5px;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.btnAtualizar {
    background: #2196F3;
    color: white;
}

.btnAtualizar:hover {
    background: #0b7dda;
}

.btnDeletar {
    background: #ff3b3b;
    color: white;
}

.btnDeletar:hover {
    background: #d60000;
}


